{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogSite</title>
    <link rel="stylesheet" href="{% static 'home/css/main.css' %}">
</head>
<body>
    <div class="navbar">
        <div class="left">
            <button class="nav-button" onclick="createBlog()">Create Blog</button>
            <button class="nav-button" onclick="tags()">Tags</button>
            <button class="nav-button" id="reload-button">Refresh</button>
            <input type="text" class="search-bar" placeholder="Search blogs...">
            {% csrf_token %}
        </div>
        <div class="right">
            <span class="toggle-label-right">All</span>
            <label class="toggle-switch">
                <input type="checkbox" id="preference-toggle" checked>
                <span class="slider"></span>
            </label>
            <span class="toggle-label-left">Personalized</span>
            <button class="nav-button" onclick="logout()">Logout</button>
        </div>
    </div>
    
    <div class="blog-container" id="blog-container">

        <!-- Repeatable Blog Structure -->
    </div>

    <div class="load-more-container">
        <button class="load-more-button" id="load-more-button">Load More</button>
    </div>

    <input type="hidden" id="feed-url" value="{% url 'feed' %}">
    <input type="hidden" id="all-feed-url" value="{% url 'all_feed' %}">

    <input type="hidden" id="next-url">

    <script src="{% static 'home/js/main.js' %}"></script>
    <script>
        function createBlog() {
            window.location.href = "{% url 'create' %}";
        }
        function logout() {
            window.location.href = "{% url 'logout' %}";
        }
        function tags() {
            window.location.href = "{% url 'tags' %}";
        }

    </script>
</body>
</html>
