{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogPost</title>
    <link rel="stylesheet" href="{% static 'verification/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'verification/css/card.css' %}">
</head>
<body>
    <div class="container" id="container">
        <div class="card" id="card">
            <div class="card-front" id="card-front">
                <h1 id="heading-s" class="heading-s">Check you email for verification link if you not get the link then enter the email for resend the verification link</h1>
                <div id="form">
                    <form action="{% url 're_gen_verification' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_div }}
                        <button action="submit">resend</button>
                    </form>
                </div>
                <div id="signup-errors-containers">
                    {% if messages %}
                        <h3 id="signup-errors-title">Errors:</h3>
                        <ul id="signup-errors-list">
                            {% for message in messages %}
                                {% if "signup error" in message.tags %}
                                    <li> {{ message }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>   
                    {% endif %}
                </div>
                <div id="login-flip-card">
                    <button id="login-flip-button">Login</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('login-flip-button').onclick(() => { window.location.href = "{% url 'login' %}"});
    </script>
    <script src="{% static 'verification/js/main.js' %}"></script>
</body>
</html>